@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,500,300italic,500italic,700italic,900,300);

//   Helpers
.d-flex {
  display: flex;
}
.f-column {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.text-center {
  text-align: center;
}

.d-none {
  display: none !important;
}

html,
body,
.login-page-container {
  height: 100%;
  width: 100%;
}
.login-page-container {
  .logo {
    margin-bottom: 60px;
    width: 106px;
  }
  .login-form {
    width: 611px;
    height: 653px;
    padding: 0 105px;
    box-sizing: border-box;
    background: #ffffff;
    box-shadow: 0px 4px 18px rgba(145, 152, 160, 0.25);
    border-radius: 6px;
    &.no-social{
      height: 453px;
    }
    .link {
      font-weight: 500;
      font-size: 18px;
      line-height: 16px;
      color: #478fff;
      cursor: pointer;
      transition-duration: 0.4s;
    }
    .link:hover {
      color: $success;
    }
    .form-box {
      flex: 1;
      .form-input {
        width: 100%;
        label, input {
          cursor: text;
          font-size: 15px;
          line-height: 20px;
          color: #757575;
          font-weight: 400;
          transition: all 0.2s;
          touch-action: manipulation;
        }
        label{
          height: 0;
          transform: translate(12px, -36px);
        }
        input {
          width: 100%;
          height: 52px;
          border-radius: 6px;
          border: 1px solid rgba(224, 224, 224, 1);
          padding: 16px 12px;
          box-sizing: border-box;
          &:focus {
            outline: none;
            border: 1px solid rgba(94, 114, 228, 0.6);
            box-shadow: 0px 0px 0px 3px rgba(94, 114, 228, 0.4);
          }
          &:not(:placeholder-shown), &:focus {
            padding: 24px 12px 4px;
          }

        }
        input:focus + label, input:not(:placeholder-shown) + label {
          transform: translate(12px, -48px);
          font-size: 12px;
          color: #616161;
        }
        .error-label {
          display: block;
          margin-top: 4px;
          font-size: 12px;
          line-height: 16px;
          color: #f2514a;
        }
        &.email {
          margin-bottom: 16px;
          margin-top: 20%;
        }
        &.register {
          margin-bottom: 16px;
        }
        &.password {
          position: relative;
          margin-bottom: 12px;
          svg {
            //           TODO - take care rtl
            position: absolute;
            cursor: pointer;
            right: 12px;
            top: 18px;
          }
        }
      }
      .forgot-password {
        padding-bottom: 12px;
      }
      .need-help {
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        padding-bottom: 2px;
        color: #757575;
      }
      .submit-button {
        background: $primary;
        border-radius: 30px;
        height: 48px;
        font-size: 15px;
        font-weight: bold;
        line-height: 24px;
        color: #ffffff;
        margin: 18px 0 12px 0;
        cursor: pointer;
        transition-duration: 0.6s;

        &.signUp {
          margin-top: 10%;
        }

        &.disabled {
          color: #999999;
          background: #ededed;
          cursor: initial;
        }
      }
      .submit-button:hover {
        background-color: $default;
      }
      .otp {
        margin-bottom: 32px;
      }
      .or-divider {
        color: rgba(0, 0, 0, 0.5);
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 33px;
        .line {
          border: 1px solid rgba(0, 0, 0, 0.2);
          flex: 1;
        }
        span {
          padding: 0 19px;
        }
      }
      .social-button {
        position: relative;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12),
        0px 2px 2px rgba(0, 0, 0, 0.24);
        border-radius: 2px;
        height: 40px;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.21875px;
        color: rgba(0, 0, 0, 0.54);
        cursor: pointer;
        &.google {
          margin-bottom: 14px;
          svg {
            position: absolute;
            left: 18px;
            top: 11px;
          }
        }
        &.facebook {
          background: #1877f2;
          color: #ffffff;
          .logo {
            position: absolute;
            left: 15px;
            top: 8px;
            //         TODO - fix logo size
            background: url(https://d2ra6nuwn69ktl.cloudfront.net/assets/responsive_signup/fb-white-logo-5c727da30feb29634fa82f5f35c616c7.png)
            no-repeat;
            background-size: cover;
            height: 24px;
            width: 24px;
          }
        }
      }
    }
    .signup {
      margin-bottom: 24px;
      font-weight: 500;
      font-size: 18px;
      line-height: 16px;
      color: rgba(0, 0, 0, 0.5);
    }
  }
}
