.section {
    padding: 70px 0;
    background-color: transparent !important;
    margin-top: 1%;

    div.button-container{
        text-align: center;
        margin-top: -106px;
    }

    h4.title {
        margin-top: -106px;
    }
}

.section-xl {
    padding-top: $spacer * 8;
    padding-bottom: $spacer * 8;
}

.section-lg {
    padding-top: $spacer * 6;
    padding-bottom: $spacer * 6;
}

.section-sm {
    padding-top: $spacer * 2;
    padding-bottom: $spacer * 2;
}

// Hero sections
.section-hero {
    @include media-breakpoint-up(md) {
        height: 100vh;
        min-height: 500px;
    }
}

// Circle sections
.section-shaped {
    margin: 180px 0;
    position: relative;

    .stars-and-coded{
        margin-top: 8rem;
    }

    .shape {
        position: absolute;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-image: radial-gradient(circle, #2f4858, #2b6577, #22848f, #28a39e, #4bc2a4);

        span {
            position: absolute;
        }

        +.container {
            position: relative;
            padding-top: 6rem;
            padding-bottom: 0;
            height: 100%;
        }

        &.shape-skew {

            +.container {
                padding-top: 0;

                .col {
                    margin-top: -100px;
                }
            }

            + .shape-container {
                padding-top: 18rem;
                padding-bottom: 19rem;
            }
        }
    }

    .shape-skew {
        transform: skewY(-8deg);
        transform-origin: 0;

        span {
            transform: skew(8deg);
        }
    }

    // Color variations
    .shape-primary {
        background: linear-gradient(150deg, shapes-primary-color("step-1-gradient-bg") 15%, shapes-primary-color("step-2-gradient-bg") 70%, shapes-primary-color("step-3-gradient-bg") 94%);

        :nth-child(1) {
            background: shapes-primary-color("span-1-bg");
        }

         :nth-child(2) {
            background: shapes-primary-color("span-2-bg");
        }

         :nth-child(3) {
            background: shapes-primary-color("span-3-bg");
        }

         :nth-child(4) {
            background: shapes-primary-color("span-4-bg");
        }

         :nth-child(5) {
            background: shapes-primary-color("span-5-bg");
        }
    }

    .shape-default {
        background: linear-gradient(150deg, shapes-default-color("step-1-gradient-bg") 15%, shapes-default-color("step-2-gradient-bg") 70%, shapes-default-color("step-3-gradient-bg") 94%);

         :nth-child(1) {
            background: shapes-default-color("span-1-bg");
        }

         :nth-child(2) {
            background: shapes-default-color("span-2-bg");
        }

         :nth-child(3) {
            background: shapes-default-color("span-3-bg");
        }

         :nth-child(4) {
            background: shapes-default-color("span-4-bg");
        }

         :nth-child(5) {
            background: shapes-default-color("span-5-bg");
        }
    }

    .shape-light {
        background: linear-gradient(150deg, shapes-light-color("step-1-gradient-bg") 15%, shapes-light-color("step-2-gradient-bg") 70%, shapes-light-color("step-3-gradient-bg") 94%);

         :nth-child(1) {
            background: shapes-light-color("span-1-bg");
        }

         :nth-child(2) {
            background: shapes-light-color("span-2-bg");
        }

         :nth-child(3) {
            background: shapes-light-color("span-3-bg");
        }

         :nth-child(4) {
            background: shapes-light-color("span-4-bg");
        }

         :nth-child(5) {
            background: shapes-light-color("span-5-bg");
        }
    }

    .shape-dark {
        background: linear-gradient(150deg, shapes-dark-color("step-1-gradient-bg") 15%, shapes-dark-color("step-2-gradient-bg") 70%, shapes-dark-color("step-3-gradient-bg") 94%);

         :nth-child(1) {
            background: shapes-dark-color("span-1-bg");
        }

         :nth-child(2) {
            background: shapes-dark-color("span-2-bg");
        }

         :nth-child(3) {
            background: shapes-dark-color("span-3-bg");
        }

         :nth-child(4) {
            background: shapes-dark-color("span-4-bg");
        }

         :nth-child(5) {
            background: shapes-dark-color("span-5-bg");
        }
    }

    .shape-style-1 {
        span {
            height: 120px;
            width: 120px;
            border-radius: 50%;
        }

        .span-200 {
            height: 200px;
            width: 200px;
        }

        .span-150 {
            height: 150px;
            width: 150px;
        }

        .span-100 {
            height: 100px;
            width: 100px;
        }

        .span-75 {
            height: 75px;
            width: 75px;
        }

        .span-50 {
            height: 50px;
            width: 50px;
        }

        :nth-child(1) {
            left: -4%;
            bottom: auto;
            background: rgba(255, 255, 255, .1);
        }

        :nth-child(2) {
            right: 4%;
            top: 10%;
            background: rgba(255, 255, 255, .1);
        }

        :nth-child(3) {
            top: 280px;
            right: 5.66666%;
            background: rgba(255, 255, 255, .3);
        }

        :nth-child(4) {
            top: 320px;
            right: 7%;
            background: rgba(255, 255, 255, .15);
        }

        :nth-child(5) {
            top: 38%;
            left: 1%;
            right: auto;
            background: rgba(255, 255, 255, .05);
        }

        :nth-child(6) {
            width: 200px;
            height: 200px;
            top: 44%;
            left: 10%;
            right: auto;
            background: rgba(255, 255, 255, .15);
        }

        :nth-child(7) {
            bottom: 50%;
            right: 36%;
            background: rgba(255, 255, 255, .04);
        }

        :nth-child(8) {
            bottom: 70px;
            right: 2%;
            background: rgba(255, 255, 255, .2);
        }

        :nth-child(9) {
            bottom: 1%;
            right: 2%;
            background: rgba(255, 255, 255, .1);
        }

        :nth-child(10) {
            bottom: 1%;
            left: 1%;
            right: auto;
            background: rgba(255, 255, 255, .05);
        }

        @include media-breakpoint-down(md) {
            span {
                height: 120px;
            }
        }

        @include media-breakpoint-down(sm) {
            span {
                height: 90px;
            }
        }

        // shape color variations
        &.shape-primary {
            background: linear-gradient(150deg, shapes-primary-color("step-1-gradient-bg") 15%, shapes-primary-color("step-2-gradient-bg") 70%, shapes-primary-color("step-3-gradient-bg") 94%);
        }

        &.shape-default {
            background: linear-gradient(150deg, shapes-default-color("step-1-gradient-bg") 15%, shapes-default-color("step-2-gradient-bg") 70%, shapes-default-color("step-3-gradient-bg") 94%);
        }

        &.shape-light {
            background: linear-gradient(150deg, shapes-light-color("step-1-gradient-bg") 15%, shapes-light-color("step-2-gradient-bg") 70%, shapes-light-color("step-3-gradient-bg") 94%);

        }

        &.shape-dark {
            background: linear-gradient(150deg, shapes-dark-color("step-1-gradient-bg") 15%, shapes-dark-color("step-2-gradient-bg") 70%, shapes-dark-color("step-3-gradient-bg") 94%);
        }
    }

    // Styles - works with a color variation class (e.g shapes-default)
    .shape-style-2 {
        span {
            height: 190px;
        }

        .span-sm {
            height: 100px;
        }

         :nth-child(1) {
            width: 33.33333%;
            top: 0;
            left: -16.66666%;
        }

         :nth-child(2) {
            width: 33.33333%;
            top: 0;
            left: 16.66666%;
            right: auto;
        }

         :nth-child(3) {
            width: 33.33333%;
            left: 49.99999%;
            bottom: auto;
        }

         :nth-child(4) {
            width: 33.33333%;
            top: 55%;
            right: -16.66666%;
        }

         :nth-child(5) {
            width: 33.33333%;
            bottom: 0;
        }

        @include media-breakpoint-down(md) {
            span {
                height: 120px;
            }
        }

        @include media-breakpoint-down(sm) {
            span {
                height: 90px;
            }
        }
    }

    .shape-style-3 {
        span {
            height: 140px;
        }

        .span-sm {
            height: 100px;
        }

        :nth-child(1) {
            width: 66%;
            left: -16.66666%;
            bottom: auto;
        }

        :nth-child(2) {
            width: 40%;
            top: 54%;
            //height: 320px;
            right: -16.66666%;
        }

        :nth-child(3) {
            width: 33.33333%;
            top: 34%;
            left: -16.66666%;
            right: auto;
        }

        :nth-child(4) {
            width: 60%;
            bottom: 0;
            right: -16.66666%;
            opacity: .6;
        }

        :nth-child(5) {
            width: 33.33333%;
            bottom: 0;
        }

        @include media-breakpoint-down(md) {
            span {
                height: 120px;
            }
        }

        @include media-breakpoint-down(sm) {
            span {
                height: 90px;
            }
        }
    }

}

// Device illustrations used on shape sections
.device-ill {
    pointer-events: none;
    position: absolute;
    display: flex;
    width: 1287px;
    left: 50%;
    margin-left: -644px;
    transform: scale(.5) rotate(-12deg) translateX(50px);
    transform-origin: 50% 20%;
    will-change: transform;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: $border-radius;
        padding: .875rem;
        background: #fff;
        box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(173, 186, 204, .25), 0 2px 6px rgba(0, 21, 64, .14), 0 10px 20px rgba(0, 21, 64, .05);
    }

    .tablet-landscape {
        width: 512px;
        height: 352px;
        margin: 115px 50px 0;
    }
}

@media (min-width:670px) {
    .device-ill {
        flex-wrap: wrap;
        width: 512px;
        margin-left: -50px;
        top: 215px;
        transform: rotate(-12deg);
        transform-origin: 100% 0;

        [class^=tablet] {
            margin: 0;
        }

        .tablet-landscape {
            width: 512px;
            height: 352px;
        }
    }
}

@media (min-width:880px) {
    .device-ill {
        width: 829px;
        margin-left: -10px;
        top: 20px;

        .tablet-landscape {
            align-self: flex-end;
            margin-right: 50px;
        }

        .phone-big {
            display: flex;
            width: 267px;
            height: 553px;
        }
    }
}

// Profile cover
.section-profile-cover {
    height: 580px;
    background-size: cover;
    background-position: center center;
}

@include media-breakpoint-down(md) {
    .section-profile-cover {
        height: 400px;
    }
}

// Components section (for demo)
.section-components {
    >.form-control {
        +.form-control {
            margin-top: .5rem;
        }
    }

    >.nav+.nav,
    >.alert+.alert,
    >.navbar+.navbar,
    >.progress+.progress,
    >.progress+.btn,
    .badge,
    .btn {
        margin-top: .5rem;
        margin-bottom: .5rem;
    }

    .btn-group {
        margin-top: .5rem;
        margin-bottom: .5rem;
        .btn {
            margin: 0;
        }
    }

    .alert {
        margin: 0;

        +.alert {
            margin-top: 1.25rem;
        }
    }

    .badge {
        margin-right: .5rem;
    }

    .modal-footer {
        .btn {
            margin: 0;
        }
    }
}


.floating-cards {
 -webkit-perspective:1500px;
 perspective:1500px;
 position:relative;
 -webkit-box-align:center;
 -ms-flex-align:center;
 align-items:center
}
.floating-cards>div {
 position:absolute;
 -ms-flex-negative:0;
 flex-shrink:0;
 border-radius:8px;
 overflow:hidden
}
.floating-cards .shine {
 position:absolute;
 left:0;
 right:0;
 top:0;
 bottom:0;
 pointer-events:none
}


// Homepage img classes
.img-container-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    padding-right: 0;
    img{
        width:175px;
        height:175px;
        border-radius: 50%;
        overflow: hidden;
    }
}

.img-container img {


    // Oferts section
    .clear-filter {
        &:after,
        &:before {
            display: none;
        }

        &[filter-color="green"] {
            @include linear-gradient(rgba($black-color, .20), rgba(0, 173, 104, 0.6));
        }

        &[filter-color="orange"] {
            @include linear-gradient(rgba($black-color, .20), rgba(224, 23, 3, 0.6));
        }
    }
}

.page-header {
    min-height: 100vh;
    max-height: 999px;
    padding: 0;
    color: inherit;
    position: relative;
    overflow: hidden;
    margin-top: 6%;

    & > .content {
        margin-top: 12%;
        text-align: center;
        margin-bottom: 50px;
    }

    h3.title {
        text-align: center;
        margin-top: 80px;
    }

    .button-container {
        text-align: center;
        margin-top: -106px;
    }

    h5.description {
        max-width: 700px;
        margin: 20px auto 75px;
    }

    &.page-header-small {
        min-height: 60vh;
        max-height: 440px;
    }

    small {
        text-transform: uppercase !important;
        font-weight: bold !important;
        text-align: justify !important;
        color: #2c2c2c !important;
    }

    &:before {
        background-color: rgba(255, 255, 255, 0.3);
    }

    > .container {
        z-index: 2;
        padding-top: 12vh;
        padding-bottom: 40px;
    }

    .page-header-image {
        position: absolute;
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .content-center {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        color: #FFFFFF;
        padding: 0 15px;
        width: 100%;
        max-width: 880px;

    }

    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .container {
        height: 100%;
        z-index: 1;
        text-align: justify;
        position: relative;
    }

    .category,
    .description {
        color: $default;
        text-align: center;
        font-weight: normal;
        text-shadow: $font-shadow-dark;
        margin-top: -2%;
    }

    &:after,
    &:before {
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        display: block;
        left: 0;
        top: 0;
        content: "";
    }
}

.move-right {

}

.photo-container {
    width: 233px;
    height: 233px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #017949;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.3);
}

.photo-container img {
    min-width: 100px;
    max-width: none;
    height: 100px;
    margin: 0 -100%;
}

.profile-title {
    margin-top: 30px;
    text-align: center;
    text-space: $headings-margin-bottom;
    color: $white-color;
    font-size: 3.5rem;
    font-weight: normal;
}

.buttonInterests {
    display: inline-block !important;
    text-align: center;
    width: 100%;
}

.cardLanguage {
    margin: 30px auto 7%;
    width: inherit;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    float: left;
    transition: 0.4s;
}

.cardLanguage .card_image {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    border-radius: 40px;
    background: rgb(146, 232, 210);
    background: radial-gradient(circle, rgba(146, 232, 210, 1) 0%, rgba(75, 194, 164, 1) 50%, rgba(47, 72, 88, 1) 100%);
}

.cardLanguage .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
}

.cardLanguage .card_title {
    text-align: center;
    border-radius: 0 0 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -130px;
    height: 40px;
    text-shadow: .06em .06em 0 #9cb8b3;

    p {
        margin-top: -3% !important;
    }
}

.cardLanguage:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.cards-list {
    z-index: 0;
    width: 100%;
    display: inline-block !important;
    justify-content: space-around;
    flex-wrap: wrap;
}


.retroshadow {
    color: $default;
    letter-spacing: .05em;
    text-shadow: 4px 4px 0 #D4FADE,
    7px 7px 0 rgba(0, 113, 127, 0.2);
}

// Headers

.img-startHeader {
    width: 180px;
    height: 60px;
    cursor: pointer;
}

.svg-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.svg-container > svg {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: center;
}


// Home Page


.dropdown-input{
    padding-right: 0.75rem !important;
    //border: 1px solid #cad1d7 !important;
}

.dropdown-content{
    padding: 10px;
}

.dropdown-content:hover{
    background-color: #cad1d7;
    border-block: 1px solid #659ac8;
}

#home-form-btn:hover{
    transform: none;
}

#offerts-panel {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

#offerts-panel > li {
    margin-bottom: 1rem;
}

.my-img-container{
    width: 100%;
    height: 100%;
}

.my-img-container .my-img {
    object-fit: cover;

}

.my-img-container .my-img-notFound {
    object-fit: cover;
    width: 80%;
    height: 80%;

}

.form-btn-container .form-btn {
    position: absolute; /* The position also affects the behaviour of the transparency */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    background-color: #f5365c;
    border-color: black;
}

/* Same pattern as A) to move the child .bg-text relatively to its father */
.main-title h2 {
    position: relative;
    text-transform: uppercase; /* Initialy, Text to uppercase */
    font-size: 4rem;
    font-weight: 700;
}

.main-title h2 span {
    color: var(--color-secondary);
}

.main-title h2 .bg-text {
    position: absolute; /* The position also affects the behaviour of the transparency */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-grey-5); /* Color superposition! As transparent */
    transition: all 0.4s ease-in-out;
    z-index: -11;
    font-weight: 800;
    font-size: 6.3rem;
}

